/* Color Schemes:
   Black #0E0B16
   Pink #A239CA
   Purple #4717F6
   Whitw #E7DFDD */
body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #e7dfdd;
}

/* Global Assets */

.container {
  width: 88%;
  margin: auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.button_subscription {
  height: 38px;
  background: #4717f6;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  font-size: 12px;
}

.button_subscription:hover {
  color: #cccccc;
  text-decoration: underline;
}

/* Header */
header {
  background: #0e0b16;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #4717f6 3px solid;
}

header a {
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header a:hover {
  color: #cccccc;
  text-decoration: underline;
}

header .emphasis,
header .current a {
  color: #a239ca;
  font-weight: bold;
}

/* Dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 0;
  border: 0;
  background-color: inherit;
  margin: 3px 0 0 20px;
  display: inline;
}

.dropdown:hover .dropbtn {
  color: #cccccc;
  text-decoration:underline;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0e0b16;
  min-width: 112px;
  z-index: 1;
  margin: 0 0 0 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
  font-size:12px;
  float: none;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #a239ca;
  text-decoration:underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Showcase */

#centerpicture {
  min-height: 400px;
  background: url("Enderman_wallpaper.jpg") no-repeat;
  text-align: center;
  color: #ffffff;
}

#centerpicture h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-button: 10px;
}

#centerpicture p {
  font-size: 20px;
}

/* Newsletter */

#newsletter {
  padding: 15px;
  color: #ffffff;
  background: #0e0b16;
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 90px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #4717f6;
  text-align: center;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
