/* Color Schemes:
   Black #0E0B16
   Pink #A239CA
   Purple #4717F6
   Whitw #E7DFDD */

body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color:#E7DFDD;
}

/* Global Assets */
.container{
  width:88%;
  margin:auto;
  overflow:hidden;
}

header ul{
  margin:0;
  padding:0;
}

/* Header */
header {
  background: #0E0B16 ;
  color: #ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom: #4717F6;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float:right;
  margin-top: 10px;
}

header a:hover{
  color: #cccccc;
  text-decoration: underline;
}

header .emphasis, header .current a{
  color: #A239CA;
  font-weight:bold;
}


